server {
        listen 80 default_server;
        listen [::]:80 default_server;

        index index.php;
        root /mnt/;
        server_name _;

        location / {
                try_files $uri $uri/ =404;
        }

        location ~ \.php$ {
               include snippets/fastcgi-php.conf;
               fastcgi_pass {{ groups['backend'][0] }}:9000;
        }
}
